<div class="row" ng-controller="ChartsCtrl" ng-init="returnOnLogout()">
    <section ng-controller="TabsCtrl as tab">
        <ul class="nav nav-pills">
            <li ng-class="{active:tab.isSet(1)}"><a href ng-click="tab.setTab(1)">Chart 1</a></li>
            <li ng-class="{active:tab.isSet(2)}"><a href ng-click="tab.setTab(2)">Chart 2</a></li>
            <li ng-class="{active:tab.isSet(3)}"><a href ng-click="tab.setTab(3)">Chart 3</a></li>
        </ul>
        
        <div ng-show="tab.isSet(1)" class="col-md-12">

<canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" chart-colours="colorScheme1"> 
</canvas>
<!-- chart-click="onClick" -->
        </div>
        <div ng-show="tab.isSet(2)">
             
         <canvas id="line" class="chart chart-line" chart-data="data1" chart-labels="labels1" chart-series="series1"> 
        </canvas>




        </div>
        <div ng-show="tab.isSet(3)">
          <canvas id="line" class="chart chart-line" chart-data="data2" chart-labels="labels2" chart-series="series2" chart-colours="colorScheme3"> 
        </canvas>
        </div>
    </section>
</div>


