<style>
.panel {

    transition: padding 0.5s;
    -moz-transition: padding 0.5s; /* Firefox 4 */
    -webkit-transition: padding 0.5s; /* Safari and Chrome */
    -o-transition: padding 0.5s; /* Opera */
    -ms-transition:padding 0.5s; /* IE9 (maybe) */  
  
}

.panel:hover {
  padding:10px;
}
</style>
        <div class="row">
                <!-- <div class="col-md-3">
                        <div class="panel panel-danger">
                                <div class="panel-heading">
                                        <h3 class="text-center">SMALL</h3>
                                        <p class="text-center">MAX API REQUESTS</p>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead" style="font-size:30px"><strong>$20/month</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                                        </li>
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                                        </li>
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                                        </li>
                                </ul>
                                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
                        </div>
                </div> -->
                <div class="col-md-4">
                </div>
                <div class="col-md-3">
                        <div class="panel panel-info">
                                <div class="panel-heading">
                                        <h3 class="text-center">Basic</h3>
                                        <p class="text-center">MAX API REQUESTS: Unlimited</p>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead" style="font-size:30px"><strong>$0.1/request</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-calendar"></span> Complete Functionalities
                                        </li>
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-envelope"></span> Unlimited API Request
                                        </li>
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                                        </li>
                                </ul>
                                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
                        </div>
                </div>
               <!--  <div class="col-md-3">
                        <div class="panel panel-success">
                                <div class="panel-heading">
                                        <h3 class="text-center">Premium</h3>
                                        <p class="text-center">Coming soon</p>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead" style="font-size:30px"><strong></strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-calendar"></span>  
                                        </li>
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-envelope"></span> 
                                        </li>
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-heart"></span>
                                        </li>
                                </ul>
                                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
                        </div>
                </div> -->
                <!-- <div class="col-md-3">
                        <div class="panel panel-warning">
                                <div class="panel-heading">
                                        <h3 class="text-center">HUGE</h3>
                                        <p class="text-center">MAX API REQUESTS</p>
                                </div>
                                <div class="panel-body text-center">
                                        <p class="lead" style="font-size:30px"><strong>$100/month</strong></p>
                                </div>
                                <ul class="list-group list-group-flush text-center">
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-calendar"></span> Unlimited Events
                                        </li>
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-envelope"></span> Unlimited Email Invitations
                                        </li>
                                        <li class="list-group-item">
                                                <span class="glyphicon glyphicon-heart"></span> Fantastic Support
                                        </li>
                                </ul>
                                <div class="panel-footer"> <a class="btn btn-lg btn-block btn-danger" href="#">SUBSCRIBE</a> </div>
                        </div>
                </div> -->
        </div>

