<div ng-controller="statusCtrl">
<div ng-show="gpustatus">


<div class="row">
	<div class="col-md-8">
		<h3>
			Recommendation Service
		</h3>
	</div>
	<div class="col-md-4">
		<h3>
			<span class="label label-success label-as-badge" style="padding-top:20px;padding-right:20px"><span style="font-size:35px;padding-left:10px">{{livetext}}</span></span><br>

		</h3>
	</div>
</div>



<div class="row">
	<div class="col-md-8">
		<h3>
			Tags Suggestion
		</h3>
	</div>
	<div class="col-md-4">
		<h3>
			<span class="label label-success label-as-badge" style="padding-top:20px;padding-right:20px"><span style="font-size:35px;padding-left:10px">{{livetext}}</span></span><br>

		</h3>
	</div>
</div>


<div class="row">
	<div class="col-md-8">
		<h3>
			Cross Search
		</h3>
	</div>
	<div class="col-md-4">
		<h3>
			<span class="label label-success label-as-badge" style="padding-top:20px;padding-right:20px"><span style="font-size:35px;padding-left:10px">{{livetext}}</span></span><br>

		</h3>
	</div>
</div>

	
</div>
<div ng-show="!gpustatus">
	<div class="row">
	<div class="col-md-8">
		<h3>
			Recommendation Service
		</h3>
	</div>
	<div class="col-md-4">
		<h3>
			<span class="label label-danger label-as-badge" style="padding-top:20px;padding-right:20px"><span style="font-size:35px;padding-left:10px">Dead</span></span><br>

		</h3>
	</div>
</div>



<div class="row">
	<div class="col-md-8">
		<h3>
			Tags Suggestion
		</h3>
	</div>
	<div class="col-md-4">
		<h3>
			<span class="label label-danger label-as-badge" style="padding-top:20px;padding-right:20px"><span style="font-size:35px;padding-left:10px">Dead</span></span><br>

		</h3>
	</div>
</div>


<div class="row">
	<div class="col-md-8">
		<h3>
			Cross Search
		</h3>
	</div>
	<div class="col-md-4">
		<h3>
			<span class="label label-danger label-as-badge" style="padding-top:20px;padding-right:20px"><span style="font-size:35px;padding-left:10px">Dead</span></span><br>

		</h3>
	</div>
</div>
</div>
</div>